* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #151520;
}

.container{
  opacity: 0;
  width: 100lvw;
  height: 100lvh;
  transition: opacity 2s;
}
.container.visible{
  opacity: 1;
}

.level-label 
{
  --interval: 1s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  /* animation: flicker steps(100) var(--interval) 1s infinite; */

  color: white;
  --color1: white;
  --color2: white;
  --color3: white;
  --color4: white;
  font-family: Roboto;
  font-weight: 300;
  
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}